<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Create New Post</h1>
    <form action="/create_post" method="post">
        <label for="title"></label><input type="text" id="title" name="title" placeholder="Title" required><br>
        <label for="content"></label><textarea id="content" name="content" placeholder="Content" required></textarea><br>
        <button type="submit">Submit</button>
    </form>
    <a href="/">Back to Home</a>
</body>
</html>